#main {
    position: relative;
    float: left;
    background-color: #383839;
    color: #fff;
    height: 85vh;
    width: 100%;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/bg-work.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
#title-name{

    justify-content: flex-end;
    align-items: center;

}
.button {
    margin-top: 80px;
    width: 150px;
    position: absolute;
    padding: 14px 0;
    border: 2px white solid;
    float: left;
    color: white;
    cursor: pointer;
    font-size: .9em;
    text-transform: uppercase;
    transition: color 0.4s, background-color 0.4s;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    display: inline-block;
    vertical-align: middle;
    line-height: 1em;
    outline: none;
    text-align: center;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}
button:hover,
button:focus {
    transition: color 0.4s, background-color 0.4s;
    color: white;
    text-decoration: none;
    background-color:black;
}

