body {
    background: #e6ecee;

}
#some, #hello, .showCode, .writeCode, #code, #btn{
    display: block;
    position: relative;
}
.showCode{
    display: flex;
    width:100%;
}
.writeCode{
    display: flex;
    width:100%;
}

#btn{
    display: block;
    width: 20rem;;
}
#code{
    display: block;
    width: 20rem;;
}

code {
    max-width: 30rem;
    background: #263238;
    color: #eff;
    padding: 1rem 3rem;
    margin: 1rem;
    position: relative;
    border-radius: 0.25rem;
    counter-reset: step;
    counter-increment: step 0;
    transition: background 0.3s;
    outline: none;
}

code:focus {
    background: #2e3d44;
}

code p {
    position: relative;
    margin: 0.2rem;
    font-family: monospace;
    display: block;
    white-space: pre;
}

code p::before {
    position: absolute;
    top: 0;
    left: -1.75rem;
    color: #50646d;
    user-select: none;
    content: counter(step);
    counter-increment: step;
}

code p:focus::before {
    color: #f00;
}