* {
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: 'Source Code Pro', serif;
}
textarea {
    height: 190px;
    resize: none;
}
.container{

    display: flex;
    width: 65%;
    height: 50%;
}

#codeditor{
    margin-right: 2%;
    display: inline-block;
}

#consoleShow{

    display: inline-block;
    width: 80px;
}



#console {

    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}
#bar {

    background: #efefef;
    padding: 3px;
    border-radius: 8px 8px 0 0;
    height: 20px;
    display: flex;
}
.c {

    font-family: sans-serif;
    font-style: normal;
    background: #ccc;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
}
#controls:hover {
    cursor: pointer;
}
.c p {
    font-size: 20px;
    position: relative;
    top: -3px;
}
#title {
    width: 80%;
    text-align: center;
}
#screen {
    background: black;
    color: green;
    width: calc(100% - 5px);
    height: 170px;
    border-radius: 0 0 8px 8px;
    font-weight: bold;
}
#screen {
    padding-left: 5px;
}
