#section1{
    display: inline-block;
}
.hidden{
    display: none;
}
.unhidden{
    display: block;
}
#section2{
    visibility: hidden;
}
#GoNext{
    visibility: hidden;
}
.section2{
    display: none;
}