@import url(http://fonts.googleapis.com/css?family=Varela+Round);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

$profileBg:#fff;
$skillsBg:#3d3e42;
$profileColor:#9099a0;
$skillsColor:#9099a0;
$linkColor:#66cc99;
$boldColor:#4a4e51;
$time:0.6s;


@mixin breakpoint($point) {
  @if $point == papa-bear {
    @media (max-width: 1500px)  { @content; }
  }
  @if $point == mama-bear {
    @media (max-width: 1200px)  { @content; }
  }
  @if $point == brother-bear {
    @media (max-width: 850px)  { @content; }
  }
  @else if $point == baby-bear {
    @media (max-width: 450px)  { @content; }
  }
}

.section-padding {
  padding:60px 60px 40px 40px;
  @include breakpoint(brother-bear) { padding:80px 15% 40px 10%; }
  @include breakpoint(baby-bear) { padding:40px 10% 20px 5%; }
}

.section-wrapper {
  width:50%;
  float:left;
  text-align:left;
  color:$skillsColor;
  font-weight:300;
  margin-bottom:20px;
  @include breakpoint(baby-bear) {width:100%;}
  &:nth-child(3){
    padding-right:8%;
  }
  h3.section-title {
    color:$linkColor;
    text-align:left;
    text-transform:uppercase;
    font-size:1.2em;
    margin-bottom:20px;
    font-weight:400;
  }
  .skill-percentage {
    margin-bottom:10px;
    position:relative;
    &::after {
      content:"";
      width:100%;
      height:6px;
      background:$boldColor;
      display:block;
      margin-top:3px;
    }
    &::before{
      content:"";
      height:6px;
      background:$linkColor;
      position:absolute;
      margin-top:3px;
      bottom:0;
    }
    &:nth-child(1)::before {width:80%;animation: skill_1 $time ease;}
    &:nth-child(2)::before {width:90%; animation: skill_2 $time ease;}
    &:nth-child(3)::before {width:50%;animation: skill_3 $time ease;}
    &:nth-child(4)::before {width:60%;animation: skill_4 $time ease;}
    &:nth-child(5)::before {width:70%;animation: skill_5 $time ease;}
    &:nth-child(6)::before {width:70%;animation: skill_6 $time ease;}
    &:nth-child(7)::before {width:70%;animation: skill_6 $time ease;}
  }

}

@keyframes skill_1 {from {width:0%;}to {width:80%;}}
@keyframes skill_2 {from {width:0%;}to {width:90%;}}
@keyframes skill_3 {from {width:0%;}to {width:50%;}}
@keyframes skill_4 {from {width:0%;}to {width:60%;}}
@keyframes skill_5 {from {width:0%;}to {width:70%;}}
@keyframes skill_6 {from {width:0%;}to {width:70%;}}
@keyframes skill_7 {from {width:0%;}to {width:70%;}}