

body{
    color: black;
    padding: 10%;
    background-color: #f7f7f7;
    font-family: "Times New Roman", sans-serif;
}

.innerBox{
    background-color: white;
    font-family: Roboto, serif;

    box-shadow: 3px 3px 10px #888888;
    padding: 5%;
}

#includedContent{
    width:80%;
    height:100%;
    display: block;
    align-items: center;
    justify-content: center;
}